.head {
  padding: auto;
  padding-left: 10vw;
  padding-top: 8vw;
}

.caption {
  color: rgb(255, 255, 255);
  font-size: 12vw;
}

.container {
  display: flex;
}

p {
  color: white;
  width: 40vw;
  line-height: 2rem;
  font-weight: 100;
  margin-left: 1vw;
}

a {
  margin-top: 3vh;
  cursor: pointer;
  margin-right: 5vh;
}

.profile {
  height: auto;
  margin-left: 8vw;
  width: 30vw;
  object-fit: scale-down;
  border-top-left-radius: 30% 30%;
  border-bottom-left-radius: 30% 70%;
  border-top-right-radius: 70% 30%;
  border-bottom-right-radius: 70% 70%;
  animation: blob 20s ease-in-out infinite;
  border: 8px solid white;
}

@keyframes blob {
  0% {
    border-top-left-radius: 30% 30%;
    border-bottom-left-radius: 50% 70%;
    border-top-right-radius: 70% 30%;
    border-bottom-right-radius: 50% 70%;
  }
  33% {
    border-top-left-radius: 60% 60%;
    border-bottom-left-radius: 40% 40%;
    border-top-right-radius: 50% 70%;
    border-bottom-right-radius: 70% 45%;
  }
  66% {
    border-top-left-radius: 70% 70%;
    border-bottom-left-radius: 70% 30%;
    border-top-right-radius: 30% 70%;
    border-bottom-right-radius: 35% 35%;
  }
  100% {
    border-top-left-radius: 30% 30%;
    border-bottom-left-radius: 50% 70%;
    border-top-right-radius: 70% 30%;
    border-bottom-right-radius: 50% 70%;
  }
}
