:root {
  /*--star_color: #0088ff;*/
  --star_color: white;
}

.bg {
  z-index: -2000;
  width: 100vw;
  height: 100vh;
  /*background: radial-gradient(
    circle farthest-corner at bottom center,
    #1c2632,
    #0a0b10
  );*/
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: var(--star_color);
  border-radius: 100%;
  opacity: 1;
  animation: twinkle 50s ease-in-out infinite;
}

@keyframes twinkle {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.star2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--star_color);
  border-radius: 100%;
  opacity: 1;
  animation: twinkle2 50s ease-in-out infinite;
}

@keyframes twinkle2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -20vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.star3 {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: var(--star_color);
  border-radius: 100%;
  opacity: 1;
  animation: twinkle3 50s ease-in-out infinite;
}

@keyframes twinkle3 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
